services:
  etlproject:
    user: root
    image: etlproject.consoleapp
    volumes:
    - ./data:/app/data
    build:
      context: .
      dockerfile: ETLProject.ConsoleApp/Dockerfile
    depends_on:
      db:
        condition: service_started
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=${DB_NAME};User Id=sa;Password=${MSSQL_PASSWORD};TrustServerCertificate=True;

  db:
    image: mcr.microsoft.com/mssql/server:2025-latest
    container_name: sql_server_container
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_PASSWORD}
    ports:
      - "${SQL_PORT}:1433"
    volumes:
      - mssql_data:/var/opt/mssql
volumes:
  mssql_data:
